* {
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header {
    font-size: 5vmin; /*4% of whatever is smaller, width or height*/
    color: #02c5e3;
    letter-spacing: 1vmin;
    margin-bottom: 3vmin;
    font-family: 'Gochi Hand', cursive;
    
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    gap: 1vmin;
    background-color: black;
}

#board > div {
    background-color: grey;
    border-radius: 5%;
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: black;
    background-color: #02c5e3;
    font-family: 'Gochi Hand', cursive;
}

button:hover {
    color: black;
    background-color: #91dbe6;
}

#playerX, #playerO{
    height: 5vmin;
    place-self: center;
}

#playerO {
    grid-column-start: 4;
}

h1 {
    font-size: 3vmin;
    color: #02c5e3;
    margin-bottom: 3vmin;
    grid-column-start: 2;
    grid-column-end: 4;
    place-self: center;
    font-family: 'Special Elite', cursive;
}

#displayText {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: 10vmin;
}

#pretty {
    display: flex;
    flex-direction: row;
}

.decoration {
    height: 1.5vmin;
}


